@import "colors";

.categories{
  display: flex;
  flex-direction: column;
  background: $second_white;
  padding: 50px 20px;
  width: 25%;

  &__title{
    color: $main_green;
    padding-bottom: 30px;
    border-bottom: 2px solid $border_color;
    text-align: center;
    font-weight: 700;
  }

  &__item{
    font-weight: 700;
    padding: 20px 0;
    border-bottom: 2px solid $border_color;
    cursor: pointer;

    &_active{
      color: $main_green;
    }

    &:hover{
      color: $main_green;
      border-bottom: 2px solid $border_hover_color;
    }
  }
}